@model Final.Models.Concretes.ManagerLogin
@{
    Layout = null;
    ViewBag.Title = "Login";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width-device-width" />
    <title>Manager Login</title>
    <style>
        body {
            background-image: url(../../Images/yeşil-arka-plan.png);
            animation: alternate;
        }

        #userlogin-div {
            background-color: lightgoldenrodyellow;
            position: absolute;
            text-align: center;
            top: 20%;
            left: 500px;
            border: 1px solid #ff6a00;
            padding: 100px 150px;
        }
    </style>
</head>

<body>
    <div id="userlogin-div">
        @using (Html.BeginForm("MAutherize", "Login", FormMethod.Post))
        {
            <table id="userlogin-table">
                <tr>
                    <td> </td>
                    <td style="text-decoration:underline">Rent Car</td>
                </tr>
                <tr>
                    <td>
                        @Html.LabelFor(model => model.ManagerName)
                    </td>
                    <td>
                        @Html.EditorFor(model => model.ManagerName)
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>@Html.ValidationMessageFor(model => model.ManagerName)</td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(model => model.Password)</td>
                    <td>@Html.EditorFor(model => model.Password)</td>
                </tr>
                <tr>
                    <td></td>
                    <td>@Html.ValidationMessageFor(model => model.Password)</td>
                </tr>
                <tr>
                    <td colspan="2">
                        <label class="field-validation-error">@Html.DisplayFor(model => model.ErrorMessage) </label>
                    </td>
                </tr>
                <tr>
                    <td> </td>
                    <td>
                        <input href="#" type="submit" name="name" value="ManagerLogin" />
                        <input type="reset" name=" name" value="clear" />
                    </td>
                </tr>
            </table>
        }
    </div>
    <script src="~/Scripts/jquery-3.5.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
</body>
</html>



