
@{
    Layout = null;
    ViewBag.Title = "Index";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Rent A Car</a>
            </div>
            <ul class="nav navbar-nav">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="@Url.Action("About" , "Home")">About</a></li>
              <li><a href="@Url.Action("Contact" , "Home")">Contact</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="@Url.Action("Create" , "Customer")"><span class="glyphicon glyphicon-user"></span>Customer Sign up</a></li>
                <li><a href="@Url.Action("Create" , "Manage")"><span class="glyphicon glyphicon-user"></span>Manager Sign up</a></li>
                <li><a href="@Url.Action("UserLogin" , "Login")"><span class="glyphicon glyphicon-log-in"></span>Kullanıcı Login</a></li>
                <li><a href="@Url.Action("ManagerLogin" , "Login")"><span class="glyphicon glyphicon-log-in"></span>Yönetici Login</a></li>
            </ul>
        </div>
    </nav>

    <div class="container">
        <img src="~/Images/Car-Rental-Sign-NBS-750x375.jpg"/>
        <h2>Güvenilir Araç Kiralama</h2>
        <h2>En kaliteli ve en ucuz araçları siz kiralayın</h2>
    </div>
    <div class="container body-content">
        
        <hr />
        <footer>
            <p>&copy; My ASP.NET Application - @DateTime.Now.DayOfYear</p>
        </footer>
    </div>
</body>
</html>

