@model Final.Models.Concretes.Arac
@{
    ViewBag.Title = "Create";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm())
 {
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
      <hr />
      @Html.ValidationSummary(true, "", new { @class = "text-danger" })

      <div class="form-group">
          @Html.LabelFor(model => model.AitOlduguSirket, "Ait Oldugu Sirket", htmlAttributes: new { @class = "control-label col-md-2" })
          <div class="col-md-10">
              @Html.EditorFor(model => model.AitOlduguSirket, new { htmlAttributes = new { @class = "form-control" } })
              @Html.ValidationMessageFor(model => model.AitOlduguSirket, "", new { @class = "text-danger" })
          </div>
      </div>

      <div class="form-group">
          @Html.LabelFor(model => model.Marka, "Marka", htmlAttributes: new { @class = "control-label col-md-2" })
          <div class="col-md-10">
              @Html.EditorFor(model => model.Marka, new { htmlAttributes = new { @class = "form-control" } })
              @Html.ValidationMessageFor(model => model.Marka, "", new { @class = "text-danger" })
         </div>
      </div>
      <div class="form-group">
          @Html.LabelFor(model => model.Model, "Model", htmlAttributes: new { @class = "control-label col-md-2" })
          <div class="col-md-10">
              @Html.EditorFor(model => model.Model, new { htmlAttributes = new { @class = "form-control" } })
              @Html.ValidationMessageFor(model => model.Model, "", new { @class = "text-danger" })
          </div>
      </div>
      <div class="form-group">
          @Html.LabelFor(model => model.Yıl, "Yıl", htmlAttributes: new { @class = "control-label col-md-2" })
          <div class="col-md-10">
              @Html.EditorFor(model => model.Yıl, new { htmlAttributes = new { @class = "form-control" } })
              @Html.ValidationMessageFor(model => model.Yıl, "", new { @class = "text-danger" })
          </div>
      </div>

      <div class="form-group">
          @Html.LabelFor(model => model.Uygunluk, "Uygunluk", htmlAttributes: new { @class = "control-label col-md-2" })
          <div class="col-md-10">
              @Html.EditorFor(model => model.Uygunluk, new { htmlAttributes = new { @class = "form-control" } })
              @Html.ValidationMessageFor(model => model.Uygunluk, "", new { @class = "text-danger" })
          </div>
      </div>
      <div class="form-group">
          @Html.LabelFor(model=>model.GünlükFiyat,"GünlükFiyat",htmlAttributes: new { @class="control-label col-md-2"})
          <div class="col-md-10">
              @Html.EditorFor(model => model.GünlükFiyat, new { htmlAttributes = new { @class = "form-control" } })
              @Html.ValidationMessageFor(model => model.GünlükFiyat, "", new { @class = "text-danger" })
          </div>
      </div>
     




      <div class="form-group">
          <div class="col-md-offset-2 col-md-10">
              <input type="submit" value="Create" class="btn btn-default" />
          </div>
      </div>
    </div>
 }

<div>
    @Html.ActionLink("Back to List of Arac", "ListAll")
</div>

@section Scripts {
    @System.Web.Optimization.Scripts.Render("~/bundles/jqueryval")
}

