@model IEnumerable<Final.Models.Concretes.Arac>
@{
    ViewBag.Title = "ListAll";
}

<h2>ListAll</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.Encode("Ait Oldugu Sirket")
        </th>
        <th>
            @Html.Encode("Marka")
        </th>
        <th>
            @Html.Encode("Model")
        </th>
        <th>
            @Html.Encode("Yıl")
        </th>
        <th>
            @Html.Encode("Uygunluk")
        </th>
        <th>
            @Html.Encode("Günlük Fiyat")
        </th>
        <th></th>
    </tr>


    @foreach (var item in Model)
    {
         <tr>
              <td>
                   @Html.DisplayFor(modelItem => item.AitOlduguSirket)
              </td>
              <td>
                    @Html.DisplayFor(modelItem => item.Marka)
              </td>
              <td>
                    @Html.DisplayFor(modelItem => item.Model)
              </td>
              <td>
                    @Html.DisplayFor(modelItem => item.Yıl)
              </td>
              <td>
                    @Html.DisplayFor(modelItem => item.Uygunluk)
              </td>
              

              <td>
                     @Html.ActionLink("Detail", "Details", new { id = item.AracID }) |
                     @Html.ActionLink("Edit", "Edit", new { id = item.AracID }) |
                     @Html.ActionLink("Delete", "Delete", new { id = item.AracID })
              </td>
         </tr>
     }

</table>

